rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Secure the questions collection
    match /questions/{questionId} {
      // Allow authenticated users to read questions, but not the answerIndex
      allow read: if request.auth != null;
      
      // Disallow writing to the questions collection from the client
      allow write: if false;
    }

    // Allow users to write their own answers
    match /answers/{userId}/{questionId} {
      allow write: if request.auth != null && request.auth.uid == userId;
    }
  }
}